# copy to .env
SESSION_SECRET=my_super_secret_123 # для подписи сессий

# postgreSql
PG_USER=postgres
PG_PASSWORD=password
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=gallery

# oauth yandex
YANDEX_CLIENT_ID=123
YANDEX_CLIENT_SECRET=secret
YANDEX_REDIRECT_URI=https://localhost:3000/api/auth/yandex/callback

# telegram bot, logger
TG_BOT_TOKEN=1234567890:bla_Bla_BLa12
TG_CHAT_ID=-100