.footer {
  z-index: 50;
  border-radius: 15px 15px 0 0;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: auto;
  padding: 20px;
  background-color: var(--color-background-surface);
  text-align: center;
}
